<div class="container">
  <div class="row mb-3">
    <div class="col-2 offset-1">
      <p class="text-center" style="background-color:lightgray;">管理者ログイン</p>
    </div>
  </div>


  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <div class="field mb-4">
      <div class="row">
        <div class="col-2 offset-2">
          <%= f.label "メールアドレス" %>
        </div>
        <div class="col-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", class:"w-100"; %>
        </div>
      </div>
  </div>


  <div class="field mb-5">
    <div class="row">
      <div class="col-2 offset-2">
         <%= f.label "パスワード" %>
      </div>
      <div class="col-5">
         <%= f.password_field :password, autocomplete: "current-password", class:"w-100"; %>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="offset-4 col-2">
        <%= f.submit "ログイン", class:"btn btn-primary w-100"; %>
      </div>
    </div>
  </div>
  <% end %>
</div>