<div class="d-flex ml-5">
  <%= render 'homes/genres', genres: @genres %>

  <div class="item-index ml-5">
    <div class="item-index-text mb-3">
      <h3 class="d-inline">商品一覧</h3>
      <h4 class="d-inline">（全<%= @items_count.count %>件）</h4>
     </div>
    <div class="d-flex flex-wrap">
      <% @items.each do |t| %>
      <%= link_to item_path(t) do %>
      <div class="index-item-image">
        <%= attachment_image_tag t, :image, size:"220x180", format:'jpeg' %>
        <div class="item-index-name mt-2">
          <%= t.name %>
        </div>
        <div class="index-item-price mt-2">
          ¥<%= t.with_tax_price.to_s(:delimited) %>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
  </div>
</div>
<div class="item-page">
  <%= paginate @items %>
 </div>